body {
  background-color: #eaedf1;
  height: 50vh;
}

.app-body {
  background-color: #ffffff;
  margin: 20px 20px 0px 20px;
  position: relative;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  float: left;
  width: -webkit-fill-available;
}

.providers {
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.available-providers {
  width: 40%;
}

.current-providers {
  width: 40%;

  z-index: 1;
  height: 30vh;
}

.provider-badge {
  padding: 8px;
  margin: 10px;
}
